<div id="mySidenav" class="sidenav">

  <a href="index.html" target="blank">Hjem</a>
  <a href="forelesningsplan.html">Forelesningsplan og seminarer</a>
  <a href="eksamen.html">Eksamen og vurdering</a>

  <!-- Add some vertical space -->
  <br> <!-- This creates a small space -->

  <!-- Title for the lectures -->
  <h3 style="margin: 10px 0;">Forelesninger</h3>

  <!-- Link for Forelesning 1 -->
  <a href="Forelesning1_MLForØko%20(4).html">Forelesning 1</a> <!-- Replace with the actual link -->
  
</div>
